:root {
    --dark-background: #303447;
    --dark-background-gradient: #2d303d;
    --dark-background-font: #e5e1e1;
    --light-background: #eeeff8;
    --font-color: #1f1f29;
}

body {
    background-image: linear-gradient(90deg, var(--dark-background-gradient), var(--dark-background));
    color: var(--dark-background-font);
    font-family: 'Questrial', sans-serif;
}

.dark {
    background-image: linear-gradient(90deg, var(--dark-background-gradient), var(--dark-background));
    color: var(--dark-background-font);
}

.light {
    background-color: var(--light-background);
}

#search-history-list li {
    border: 1px solid var(--font-color);
    border-radius: 5px;
}

#search-history-list li:hover {
    cursor: pointer;
    border-color: #f0ad4e;
    translate: 5px;
}

#search-history-list li i:hover {
    color: #d61515;
}

.current-weather-card {
    max-width: 420px;
}

.table {
    color: var(--dark-background-font);
    max-width: 320px;
}

.table td {
    padding: 0;
}

/* History item close icon */
.fa-solid.fa-xmark:hover {
    cursor: pointer;
}

.transparent {
    background-color: rgba(255, 255, 255, .1);
    color: var(--dark-background-font);
}

.future-day-container {
    background-color: rgba(22, 33, 77, 0.6);
    color: var(--dark-background-font);
    max-width: 300px;
}

#forcast-container > div:not(:last-child) {
    border-bottom: 1px solid var(--dark-background-font);
}

footer {
    background-color: var(--dark-background-gradient);
}